
.clear{
	clear: both;
}

/* header start*/


.addFavorite{
	width: 10%;
	font-size: 30px;
	margin-top: 20px;
	float: left;
}

.userblog_admin{
	width: 10%;
	font-size: 15px;
	line-height: 3;
	text-align: center;
	float: right;
}

.menu_bar{
	height: 30px;
	width: 100%;
	padding: 0px;
	float: left;
	background: #36393B;
}
.visitorCount{
	float: left;
	text-align: center;
	width: 20%;
}
.nav2{
	margin: 0 auto 0 10%;
	padding: 0px;
	height: 30px;
	float: left;
	text-align: center;
	background: #36393B;
	width: 50%;
}
.nav-notify-menu{
	margin: auto;
	padding: 10px;
	display: none;
	background: #36393B;
	
}
.nav-notify-menu li{
	list-style: none;
	background: #36393B;
}
.guestbook{
	text-align: center;
	float: right;
	width:10%;
}
/* header end */



/* section start */
section {
	margin: 20px;
	padding: 10px;
	height: auto;
}

#categoryBox{
		border: 1px solid #333;
	
	margin: 20px 0 20px 0;
	height: auto;
	width: 30%;
	float: left;
	
}

#categoryActiveBox{
		border: 1px solid #333;
		
	margin:20px;
	height:auto;
	width: 60%;
	float: right;
}

#categoryBox .category{
	margin: 10px;
	padding: 10px;
	width: 200px;
	height: auto;
	float: left;
	 -webkit-border-radius: 10px;
 	 -moz-border-radius: 10px;
  	border-radius: 10px;
  	-webkit-box-shadow: inset 0 0 3px #000;
  	box-shadow: inset 0 0 3px #000;
  	text-align: center;	
  	background-color: rgba( 238, 230, 171, .3);  
}

#categoryBox .post{
	
	width: auto;
	height: auto;
	
	margin: 10px;
	padding: 5px;
	 -webkit-border-radius: 10px;
 	 -moz-border-radius: 10px;
  	border-radius: 10px;
  	-webkit-box-shadow: inset 0 0 3px #000;
  	box-shadow: inset 0 0 3px #000;
  	text-align: center;
	background-color: rgba( 197, 188, 142, .4);
	color: #000;
	font-size: 100%;
}

#categoryBox .postTitle{
	
	width: auto;
	height: auto;
	
	margin: 10px;
	padding: 5px;
	 -webkit-border-radius: 10px;
 	 -moz-border-radius: 10px;
  	border-radius: 10px;
  	-webkit-box-shadow: inset 0 0 3px #000;
  	box-shadow: inset 0 0 3px #000;
  	text-align: center;
	background-color: rgba( 69, 72, 75, .2);
	color: #000;
	font-size: 100%;
}

#categoryBox .postBox{
	background-color: rgba( 69, 72, 75, .0);
}

.category{
	float: left;
	border: 1px solid #333;
}
.cateogryTitle{
	font-size: 100%; 
	font-weight: bold;
	color: #000;
}
#categoryActiveBox .category,#categoryActiveBox .category-active{
	margin-left: 10px;
	padding: 10px;
	width: 80%;
	height: auto; 
	 -webkit-border-radius: 10px;
 	 -moz-border-radius: 10px;
  	border-radius: 10px;
  	-webkit-box-shadow: inset 0 0 3px #000;
  	box-shadow: inset 0 0 3px #000;
  	text-align: center;
  	background-color: rgba(0, 54, 105, .5);
 	z-index: 0;
}
.post, .postTitle, .postBox{
	
	width: auto;
	height: auto;
	
	margin: 10px;
	padding: 5px;
	 -webkit-border-radius: 10px;
 	 -moz-border-radius: 10px;
  	border-radius: 10px;
  	-webkit-box-shadow: inset 0 0 3px #000;
  	box-shadow: inset 0 0 3px #000;
  	text-align: center;
	background-color: #FFF;
	color: #000;
	font-size: 100%;
}
.postBox{
	background-color: #C593BE;
}
#categoryBox .post{
	display: none;
}

#categoryActiveBox .category .post, #categoryActiveBox .category .postTitle{
	width: auto;
	height: auto;
	
	margin: 20px;
	padding: 20px;
	 -webkit-border-radius: 10px;
 	 -moz-border-radius: 10px;
  	border-radius: 10px;
  	-webkit-box-shadow: inset 0 0 3px #000;
  	box-shadow: inset 0 0 3px #000;
  	text-align: center;
	color: #000;
	font-size: 100%;
	z-index: 10;
}

.postTitle, .postContents{
	width: auto;
	cursor: pointer;
}
.postDate{
	float: right;
}
/* 모두보기 버튼 start  */
.showAllCateogory{
	padding: 2px;
	margin: 0 0 0 10px;
	margin-top: 5px;
	width:90px;
	height:23px;
	border:1px solid #999;
	border-radius:10px;
	color: #FFF;
	background-image:url(../../images/t_back.jpg);
	background-repeat:repeat-x;
	background-position:center center;
	float: left;
}
/* 모두보기 버튼 end  */


/* 더보기 버튼 start */
#addpost{
	text-align: center;
	margin: 20px 0 0 0;
	margin-right: auto;
	margin-left: auto;
}

#addpost a{
	padding: 2px 5px;
	text-decoreation: none;
	color: #333;
	margin: 0 5px;
}

#addpost a:hover{
	font-weight: bold;
	color: #F90;
	text-decoration: underline;
}
/* 더보기 버튼 end */



/* 글쓰기영역 start */
.openEditor{
	padding: 2px;
	margin: 0 0 0 10px;
	margin-top: 5px;
	width:90px;
	height:23px;
	border:1px solid #999;
	border-radius:10px;
	color: #FFF;
	background-image:url(../../images/t_back.jpg);
	background-repeat:repeat-x;
	background-position:center center;
}
.postEditor{
	float: left;
	position: absolute;
	margin: -600px 0 auto 100px;
	padding: 50px;
	width: 65%;
	height: auto;
	background-image:url(../../images/wood-texture.jpg);
	border: 2px solid;
	z-index: 30;
}
.postBackground{
	position: absolute;
	margin: -650px 0 auto 0;
	width: 100%;
	height: 1000%;
	z-index: 10;
}

.btn{
	padding:2px;
	margin: 0 0 0 5px;
	width:90px;
	height:23px;
	border-radius:10px;
	color: #FFF;
	background-image:url(../../images/t_back.jpg);
	background-repeat:repeat-x;
	background-position:center center;
}

/* 글쓰기영역 end */

/* section end */


.compare_insert{
	background-color: #79fb7b;
}

.compare_delete{
	background-color: #f18383;
}
