body{
	min-width: 850px;
	margin: 0px;
	background-color: #B5A789;  
	color: #FFF;
	height: auto;
	background-image: url(../images/bbb.jpg);  
}

#wrap{
	margin: 0 auto 0;
}

a{
	text-decoration: none;
	color: #FFF;
}

a:hover{
	color: #DDD;
	background-color: #000;
}

input{
	height: 20px;
}

/* header start*/

header{
	padding: 10px 0 10px 0;
	height: 50px;
	text-decoration: none;
	background-color: #675C47;
	border-top-left-radius: 7px; 
	border-top-right-radius: 7px; 
}

.title img{
	float: left;
	width: 15%;
	height: 50px;
	margin-left: 2%;
}

.title .blogTitle{
	float:left;
	width: 15%;
	height: 50px;
	margin-left: 2%;
	line-height: 3;
}


.searchBox{
	line-height: 3;	
	position: absolute;
	float: left;
	margin-left: 19%;
	width: 25%;
}

.searchBox .search{
	height:20px;
	width: 70%;
	border-radius: 10px;
	background-color: #FEFDED;
}

.searchBox .searchBtn , .showAllCateogory{
	height: 20px;
	padding: 2px;
	margin: 0 0 0 5px;
	width: 20%;
	height: 23px;
	border: 1px solid #999;
	border-radius: 10px;
	color: #FFF;
	background-image: url(../images/t_back.jpg); 
	
	background-repeat: repeat-x;
	background-position: center center;
}

.searchBox .searchBtn:hover{
	width: 23%;
	height: 25px;
}

.loginBox{
	position: absolute;
	float: left;
	line-height: 3;
	margin-left: 50%;
	width: 40%;
}

.loginBox .loginId, .loginBox .password{
	width: 35%;
}

.loginBox .submitBtn{
	height: 20px;
	padding: 2px;
	margin: 0 0 0 5px;
	width: 60px;
	height: 23px;
	border-radius: 10px;
	color: #FFF;
	background-image: url(../images/t_back.jpg); 
	
	background-repeat: repeat-x;
	background-position: center center;
}

.loginBox .submitBtn:hover{
	width: 65px;
	height: 25px;
}



.registerBox{
	position: absolute;
	float: left;
	line-height: 3;
	margin-left: 89%;
	width: 8%;
}

.registerBox .submitBtn{
	height: 20px;
	width: 60px;
	padding: 2px;
	margin: 0 0 0 5px;
	height: 23px;
	border-radius: 10px;
	color: #FFF;
	background-image: url(../images/t_back.jpg); 
	
	background-repeat: repeat-x;
	background-position: center center;
}

.registerBox .submitBtn:hover{
	width: 65px;
	height: 25px;
}

.nav{
	text-align: center;
	vertical-align: bottom;
	float: right;
	margin-right: 20px;
	background: #675C47;
}

.nav hr{
	width: 80%;
}

.nav-title{
	text-align: center;
	padding-left: 20px;
	height: 50px;
	font-size: 15px;
	line-height: 3;
}

.nav-title li{
	font-size: 16px;
}

.nav-title li:hover{
	font-size: 18px;
}

.nav-menu{
	padding: 2px 0 0 0;
	margin: 0px;
	font-size: 12px;
	display: none;
	background: #675C47;
	position: absolute;
}


.nav-menu li{
	width: 100px;
	height: 20px;
	list-style: none;
	z-index: 10;
}

.nav-menu li:hover{
	font-size: 13px;
}

/* header end */



/* section start */
section{
	min-height: 600px;
}

section .menu{
	position: fixed;
	margin: 1%;
	margin-top: 5%;
	padding: .5%;
	float: left;
	width: 120px;
	text-align: left;
	color: #000;
	background-color: rgba( 32, 32, 32, .3);
	font-family: 'ratio-n7','ratio','Helvetica Neue',Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}

section .menu a{
	color: #000;
}

section .menu a:hover{
	color: #FFF;
}

section .menu .menu-title{
	font-size: 20px;
	text-align: center;
	letter-spacing: 20px;
}

section .menu ul{
	padding-left: 5px;
}

section .menu ul li{
	margin: 0px;
	list-style: none;
}



/* section end */

/* article start */
article{
	padding: 30px 50px 50px 50px;
	background-color: #0593be;
}

article .articleTitle{
	font-size: 25px;
	padding-bottom: 30px;
}

.articleB{
	margin-left: 30%;
	float: right;
	width: 60%;
	height: 520px;
	text-align: left;
	color: #FFF;
	background-color: rgba( 32, 32, 32, .5);
	font-family: 'ratio-n7','ratio','Helvetica Neue',Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}

/* article end */

.theme-a{
	color: #FFF;
	background-color: #000;
}

.theme-a-reverse{
	color: #000;
	background-color: #FFF;
}

/* group start */
.group{
	margin-bottom: 40px;
}

.group .groupTitle{
	display: inline;
	margin-left: 20px;
	padding: 10px;
	font-size: 20px;
	border: 2px solid;
	background-color: rgba(32,32,32,1);
	color: #FFF;
}

.group .groupContents{
	color: #FFF;
	margin-top: -15px;
	padding: 40px 5px 30px 5px;
	border: 2px solid;
	width: 90%;
}

/* group end */

/* 방명록 start */
#blogArticles{
		border: 3px solid red;
		
	margin: 5%;
	padding: .5%;
	background-color: rgba(32,32,32,.5);
	min-height: 500px;
}

#blogArticles input{
		border: 2px solid blue;
	
	
}  

#blogArticles .guestBookright{
	float: right;
}

.blogArticle{
		border: 2px solid #79FB7B;
		
}

.blogGuestbook{
		border: 3px solid #FF9900;
	
	
}

.blogGuestBookReply{
	margin: 0 5%;
}
/* 방명록 end */

/* row start */
.row{
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.row .error{
	color: #ffd2d2;
	margin-left: 205px;
	display: block;
}

.row .key{
	margin-right: 5px;
	width: 200px;
	text-align: right;
	float: left;
}

.row .value{
	padding-left: 5px;
}

.row .value input{
	width: 250px;
}

.row .value .short{
	width: 100px;
}

.row .value .radio{
	width: 20px;
}

.row .submit{
	text-align: center;
	margin-left: 0px;
}


/* row end */



/* footer start */
footer{
	padding: 10px 0 10px 0;
	text-decoration: none;
	height: 100px;
	background-color: #675C47;
	color: #FFF;
	font-size: 12px;
	border-bottom-right-radius: 7px; 
	border-bottom-left-radius: 7px; 
}
/* footer end */