@charset "utf-8";

/* 버튼 */
.btn {overflow:hidden;cursor:pointer; border:1px solid #000; font-size:15px;margin: 5px 5px 10px 0px; padding: 5px; }

.btn:hover{
	background-color: #FFF;
}

.editor{
	width: 720px;
	padding: 10 20 10 20;
}

@media all and (min-width: 1000px){
	.editor{

	}
}


.editor .editor_menu{
	margin-bottom: 15px;
}

.editor .editor_editor{
	background-image:url('images/bg-gray-noise.jpg');
	padding: 10px;
}

.editor .editor_row{
	margin: 10px;
}

.editor .editor_row_header{
	text-align: right;
	width: 100px;
	margin-right: 10px;
	display: inline;

}

.editor .editor_row .error{
	display:block;
	color:#F00;	
}

.editor .editor_row_desc{
	display: inline;
}

.editor .tag{
	font-size: 11px;
	margin-right: 10px;
	cursor: hand;
}


.scrap{
	background-color: #FFF;
}


.post_choice_active{
	background-color: #FFF;
}