@CHARSET "UTF-8";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,blockquote,th,td,input,select,textarea,button{margin:0;padding:0;}
fieldset,img{border:0 none;}
dl,ul,ol,menu,li {list-style:none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}

input,select,textarea,button {vertical-align:middle;}
button {border:0 none;background-color:transparent;cursor:pointer;}

body,th,td,input,select,textarea,button,h1,h2,h3,h4,h5,h6 {font:12px;color:#000;}


body{
	margin: 0px;
	background: #DDD;
	color: #FFF;
}

#wrap{
	min-width: 1000px;
	margin: 0 auto 0;
}

a{
	text-decoration: none;
	color: #FFF;
}

a:hover{
	color: #DDD;
	background-color: #000;
}

input{
	height: 20px;
}

/* header start*/

header{
	height: 50px;
	background-color: #0593be;
}

.title{
	height: 30px;
	padding: 10px 0 10px 0;
	margin-left: 20px;
	font-size: 20px;
	text-align: center;
	float: left;
}

.searchBox{
	float: left;
	margin: 10px 0 5px 30px;
}

.searchBox input{
	height: 20px;
	font-size:15px;
}

.loginBox{
	float: right;
	line-height: 2;
}

.loginBox input{
	height: 20px;
}

.registerBox{
	float: right;
}

/* nav start */

.nav{
	float: right;
	background: #026987;
	margin: 5px;
	width: 100px;
	height: 40px;
	text-align: center;
	border-radius: 5px;
}

.nav:hover{
	background: #0787ad;
}

.nav-active{
	
}

.nav hr{
	width: 80%;
}

.nav-title{
	font-size: 15px;
	line-height: 3;
}

.nav-menu{
	position: absolute;
	padding: 5px 0 5px 0;
	margin: 5px 0 0 0;
	font-size: 12px;
	background: #FFF;
	color:#000;
	border-radius: 3px;
	display: none;
}

.nav-menu-active{
	display:block;
}

.nav-menu a{
	color:#000;
}

.nav-menu a:hover{
	color:#CCC;
	background-color:#FFF;
}

.nav-menu li{
	width: 100px;
	height: 20px;
	list-style: none;
	margin: 5px 0 5px 0;
}

.nav-menu title{
	margin-left:0;
	text-align:center;
	border:1px solid #F00;
}

.nav-menu-title{
	font-size: 15px;
	font-weight: bold;
}

.nav-menu-title a{
	color:#555;
}

.nav-menu-blog li{
	width: 250px;
}

.nav-menu-blog-title{
	width:180px;
	margin-right: 10px;
	text-align: right;
	float:left;
}

.nav-menu-blog-admin{
	width:50px;
	float:right;
}
/* nav end */

/* header end */

/* section start */
section{
	min-height: 600px;
	margin: 20px;
	color:#000;
}

section a{
	color:#1977c9;
}

section .menu{
	padding: 50px 10px 30px 50px;
	float: left;
	width: 150px;
	text-align: right;
	color: #0593be;
}

section .menu a{
	color: #0593be;
}

section .menu a:hover{
	color: #FFF;
}

section .menu .menu-title{
	font-size: 20px;
}

section .menu ul{
	padding-left: 5px;
}

section .menu ul li{
	margin: 0px;
	list-style: none;
}



/* section end */

/* article start */
article{
	padding: 30px 50px 50px 50px;
}

article .articleTitle{
	font-size: 25px;
	padding-bottom: 30px;
}

.articleWrap{
	margin: 0 auto 0;
	width:650px;
}

.articleB{
	margin-left: 250px;
}

/* article end */

.theme-a{
	color: #FFF;
	background-color: #0593be;
}

.theme-a-reverse{
	color: #0593be;
	background-color: #FFF;
}

/* group start */
.group{
	width:650px;
}

.group .groupTitle{
	display: inline;
	margin-left: 20px;
	padding: 10px;
	font-size: 20px;
	border: 2px solid;
	background-color: #DDD;
}

.group .groupContents{
	margin-top: -15px;
	padding: 40px 5px 30px 5px;
	border: 2px solid;
}

/* group end */


/* contents login start */
.contentsLoginContainer{
	width: 400px;
	margin: 0 auto 0;
	color:#000;
}

.contentsLoginContainer a{
	color:#2494f6;
	text-decoration: underline;
}

.contentsLoginContainer a:hover{
	color:#2494f6;
	background-color: #FFF;
}

.contentsLoginWrap{
	margin-top: 100px;
	border: 1px solid #000;
	padding: 70px 30px 30px 30px;
}

.contentsLoginBox{
	width:400px;
	height:80px;
	padding: 5px;
}

.contentsLoginBox .inputLoginInfo{
	float:left;
}

.contentsLoginBox .inputLoginInfo input{
	width: 200px;
	margin-bottom: 5px;
}

.btnContentsLogin{
	float: left;
	margin-left: 10px;
	border:1px solid #000;
	width: 70px;
	height: 50px;
	font-size: 20px;
}

.btnContentsLogin:hover{
	background-color: #FFF;
}


/* contents login end */



/* row start */
.row{
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.row .error{
	color: #F00;
	margin-left: 205px;
	display: block;
}

.row .key{
	margin-right: 5px;
	width: 200px;
	text-align: right;
	float: left;
}

.row .value{
	padding-left: 5px;
}

.row .value input{
	width: 250px;
}

.row .value .short{
	width: 100px;
}

.row .value .radio{
	width: 20px;
}

#birthYear, #birthMonth, #birthDay{
	font-size:20px;
}

.row .submit{
	text-align: center;
	margin-left: 0px;
}

.row .inputSubmit{
	width:100%;
	font-size:20px;
	height: 40px;
	text-align: center;
	margin-left: 0px;
	border:1px solid #000;
	border-radius: 10px;
}

.row .inputSubmit:hover{
	background-color: #FFF;
	cursor: hand;
}
/* row end */


.contentsWrap{
	width: 700px;
	float:right;
}

/* contentsSide start */
.contentsSide{
	float:right;
	width: 180px;
	height: 700px;
}

/* contentsSide end */

/* newPostWrap start */
.newPostWrap{
	width: 500px;
	float:left;
	color:#000;
}

.newPostWrap a{
	color:#000;
}

.newPostWrap a:hover{
	color:#999;
	background-color: #DDD;
}

.newPostWrap h3{
	display: inline;
}

.newPostTitle{
	height: 30px;
}

.newPostMenu{
	display: inline;
	margin-left: 150px;
}

.newPostMenu li{
	display: inline;
	margin: 0 5px 0 5px;
}

.newPostList{
	color:#111;
	width:95%;
	font-size: 12px;
}

.newPostList a{
	color:#000;
}

.newPostList a:hover{
	color:#999;
	background-color: #DDD;
}

.newPost{
	margin: 12px 0 0 20px;
}

.newPost dt{
	font-weight: bold;
	float:left;
}

.newPost .blogInfo{
	display:inline;
}

.newPost .desc{
	line-height: 18px;
	padding-top: 3px;
}

.newPost .tag{
	line-height: 17px;
}

.newPost .tag a{
	color:#999;
	margin-right: 8px;
}

/* newPostWrap end */


/* page start */
.page{
	text-align: center;
	font-size: 12px;
}

.page a{
	color:#000;
}

.page a:hover{
	color:#999;
	font-size: 13px;
	background-color: #DDD;	
}

.page ul li{
	display: inline;
}

.page .currentPage{
	font-weight: bold;
	font-size: 13px;
}
/* page end */


/* footer start */
footer{
	margin-top: 30px;
	padding: 30px;
	height: 100px;
	background-color: #0593be;
	color: #FFF;
	font-size: 12px;
}
/* footer end */