<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="Blog" type="kr.co.webcash.domain.blog.Blog"/>
		<typeAlias alias="BlogVisitHistory" type="kr.co.webcash.domain.blog.BlogVisitHistory"/>
		
		<typeAlias alias="Category" type="kr.co.webcash.domain.Category"/>
		<typeAlias alias="Comment" type="kr.co.webcash.domain.comment.Comment"/>
		<typeAlias alias="Favorite" type="kr.co.webcash.domain.Favorite"/>
		<typeAlias alias="Guestbook" type="kr.co.webcash.domain.Guestbook"/>
		<typeAlias alias="Post" type="kr.co.webcash.domain.post.Post"/>
		<typeAlias alias="PostMetadata" type="kr.co.webcash.domain.post.PostMetadata"/>
		<typeAlias alias="PostTag" type="kr.co.webcash.domain.post.PostTag"/>
		<typeAlias alias="PostRevision" type="kr.co.webcash.domain.post.PostRevision"/>
		<typeAlias alias="Scrap" type="kr.co.webcash.domain.post.scrap.Scrap"/>
		<typeAlias alias="Trackback" type="kr.co.webcash.domain.Trackback"/>
		<typeAlias alias="User" type="kr.co.webcash.domain.user.User" />
		<typeAlias alias="Notification" type="kr.co.webcash.domain.notification.Notification" />
	</typeAliases>
	
	<mappers>
		<mapper resource="mybatis/sql/blog.xml" />
		<mapper resource="mybatis/sql/blog_visit_history.xml" />
		<mapper resource="mybatis/sql/category.xml" />
		<mapper resource="mybatis/sql/comment.xml" />
		<mapper resource="mybatis/sql/favorite.xml" />
		<mapper resource="mybatis/sql/guestbook.xml" />
		<mapper resource="mybatis/sql/post.xml" />
		<mapper resource="mybatis/sql/post_metadata.xml" />
		<mapper resource="mybatis/sql/post_tag.xml" />
		<mapper resource="mybatis/sql/post_revision.xml" />
		<mapper resource="mybatis/sql/scrap.xml" />
		<mapper resource="mybatis/sql/trackback.xml" />
		<mapper resource="mybatis/sql/user.xml" />
		<mapper resource="mybatis/sql/notification.xml" />
	</mappers>
</configuration>