/* header start*/
body{
	font-size: 13px;
}

.input_box{
	height: 20px;
	width: 200px;
	padding: 0 10px;
	border-radius: 10px;
	background-color: #FEFDED;
}

.btn{
	padding:2px;
	margin: 0 0 0 5px;
	width:90px;
	height:23px;
	border-radius:10px;
	color: #FFF;
	background-image:url(../images/t_back.jpg);
	background-repeat:repeat-x;
	background-position:center center;
}

/* header end */



/* section start */
section .menu{
	background-image: url(../images/bg-gray-noise.jpg);
}

.writeBtn{
	cursor: pointer;
}


/* section end */

/* article start */

article a{
	color: #000;
}

.articleB{
	margin-left:200px;
	width:720px;
}

/* article end */

.theme-a{
	color: #000;
	background-color: #DDD;
}

.theme-a-reverse{
	color: #0593be;
	background-color: #FFF;
}

/* group start */
.group{
	width:950px;
}

.group .groupTitle{
	margin-left: 10px;
	padding: 5px;
	font-size: 15px;
}

/* group end */

.contentsWrap{
	width:700px;
	float:left;
}

/* editor */
.openEditor{
	cursor: pointer;
}
.postEditor{
	float: left;
	position: absolute;
	margin: -800px 0 auto 100px;
	padding: 50px;
	width: 65%;
	height: auto;
	background-image:url(../images/wood-texture.jpg);
	border: 2px solid;
	z-index: 30;
}
.postBackground{
	position: absolute;
	margin: -650px 0 auto 0;
	width: 100%;
	height: 1000%;
	z-index: 10;
}
/* editor end */

/* infoBox start*/
.infoBox{
	width:320px;
	min-height:150px;
	float:left;
	margin: 10px 20px 20px 10px;
}

.infoBoxTitle{
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 10px;
}

.infoBoxContents{
	
}

.adminNotificationLine{
	margin: 5px 0 5px 0;
}

.txt{
	width:250px;
	font-weight: normal;
	text-align: left;
}

.date{
	width:70px;
	color:#888;
}

.name{
	width:70px;
}

/* infoBox end*/


/* table start */
.table{
	text-align: left;
	width:100%;
}

.table th{

}

.table tr{
	margin: 0px;
	padding: 0px;
}

.table td{
	padding: 5px 0 5px 0;
}

.table td:nth-child(1){
	width:15%;
}

.table tr:nth-child(even){
	background-color: #CCC;
}

/* table end */
