#wrap{
	width: 1000px;
	margin: 0pt auto;
}

#header {
	height: 20px;
	color: #000;
}

#header ul{
	list-style-type: none;
	
}

#header ul li{
	float: right;
	display: block;
	padding: 10px 10px 10px 10px;
	font-size:12px;
	text-decoration: none;
}

.error {
	color:#FF0000;
}